.relayer__header {
    display: flex;
    flex-direction: row;
}

.relayer__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 5rem;
}

.relayer__header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 50px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.relayer__header-content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: var(--color-text);

    margin-top: 1.5rem;
}

.realyer__whitetext p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}

.relayer__form {
   
    width: 1300px;
    justify-content: center;
    align-items: center;
    
}

.relayer__header-content__input {
    width: 100%;
    margin: 2rem 0 1rem;

    display: flex;
    flex-direction: row;
}

.relayer__header-content__input input {
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    background: var(--color-footer);
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: #fff;

    border-radius: 5px;
}



.relayer__header-content__input select {
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    background: var(--color-footer);
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: #fff;

   border-radius: 5px;
}



.relayer__submit {
    width: 100%;
    margin: 2rem 0 1rem;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.relayer__submit button {
    flex: 0.1;
    width: 100%;
    min-height: 40px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: #FF4820;
    border: 2px solid #FF4820;
    padding: 0 1rem;
    color: #fff;
    cursor: pointer;
    outline: none;

    border-radius: 5px;
}